
<ng-container *ngIf="message" class="alert alert-success" role="alert">
<strong>Success! Team updated...</strong>
  <button (click)="removeMessage()" type="button" class="btn btn-light">X</button>
</ng-container>
<form *ngIf="updateForm" [formGroup]="updateForm" (ngSubmit)="updateTeam()" >
  <div class="form-group">
    <label >Team Name</label>
    <input type="text" class="form-control" formControlName="name"   placeholder="Enter team name">

  </div>
  <div class="form-group">
    <label >Emblem</label>
    <input type="text" class="form-control" formControlName="emblem" placeholder="Enter image url">
  </div>
  <div class="form-group">
    <label >Features</label>
    <input type="text" class="form-control" formControlName="features"   placeholder="Enter feautures">

  </div>
  <div class="form-group">
    <label >Power</label>
    <input type="number" class="form-control" formControlName="power"  placeholder="power">
  </div>
  <div class="form-group">
    <label >Point</label>
    <input type="number" class="form-control" formControlName="point"  placeholder="point">
  </div>


  <button routerLink="/teams" type="submit" class="btn btn-primary mt-3" [disabled]="updateForm.invalid" (click)="updateTeam()"  >Update</button>
</form>

