
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a href="#" class="navbar-brand" routerLink="/">Football Manager</a>

    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
      <span class="menu-icon-bar"></span>
      <span class="menu-icon-bar"></span>
      <span class="menu-icon-bar"></span>
    </button>

    <div id="main-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li><a href="#" class="nav-item nav-link active" routerLink="/">Home</a></li>
        <li><a href="#" class="nav-item nav-link" routerLink="/teams">Teams</a></li>
        <li><a href="#" class="nav-item nav-link" routerLink="/fixture">Fixture</a></li>
        <li><a href="#" class="nav-item nav-link" routerLink="/gameState">Game State</a></li>
        <li><a href="#" class="nav-item nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

  <br>
  <!---



<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a href="#" class="navbar-brand">Football Manager</a>

    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
      <span class="menu-icon-bar"></span>
      <span class="menu-icon-bar"></span>
      <span class="menu-icon-bar"></span>
    </button>

    <div id="main-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li><a href="#" class="nav-item nav-link active" routerLink="/">Home</a></li>
        <li><a href="#" class="nav-item nav-link" routerLink="/teams">Teams</a></li>
        <li><a href="#" class="nav-item nav-link" routerLink="/fixture">Fixture</a></li>
        <li><a href="#" class="nav-item nav-link" routerLink="/gameState">Game State</a></li>
        <li><a href="#" class="nav-item nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

-->
